@media only screen and (max-width: 600px) {

    #about-section {
        padding: 10px;
    }
    
    #about-section .section-collapsable {
        border-bottom: 2px solid #035E7B;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    #about-section .section-collapsable h2 {
        font-size: 20px;
        margin: 5px 0;
    }
    
    #about-section .section-collapsable svg {
        width: 20px;
        height: 20px;
    }

    #about-section .section-collapsable svg:hover {
       cursor: pointer;
    }

    #about-section .see-more {
       border: 1px #035E7B solid;
       background-color: #fefefe;
       color: #035E7B;
       width: 100%;
       padding: 10px 0;
       font-size: 20px;
       font-weight: 600;
       margin-top: 15px;
    }

    #about-section #skills-container {
        display: flex;
        justify-content: space-between;
    }

    #about-section #skills-container .skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #about-section #skills-container .skill h3{
       margin: 5PX;
    }

}