@media only screen and (max-width: 600px) {

    #about-section-mobile {
        padding: 10px;
    }
    
    #about-section-tablet{
        display: none;
    }

    #about-section-mobile .section-intro {
        margin-bottom: 40px;
    }
    

    #about-section-mobile #skills-container {
        display: flex;
        justify-content: space-between;
    }

    #about-section-mobile #skills-container .skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #about-section-mobile #skills-container .skill h3{
       margin: 5px;
    }

}

@media only screen and (min-width: 768px) {
    #about-section-mobile{
        display: none;
    }

    
}