body{
    background-color: #fefefe;
    margin: 0;
    padding: 0;
    color: #035E7B;
    font-family: "MainFont";
}

p {
    font-weight: 600;
}
@font-face {
    font-family: 'MainFont';
    src: url('../font/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'MainFont';
    src: url('../font/ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'MainFont';
    src: url('../font/ChakraPetch-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'MainFont';
    src: url('../font/ChakraPetch-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: light;
}