body{
    background-color: #fefefe;
    margin: 0;
    padding: 0;
    color: #035E7B;
    font-family: "MainFont";
}

p {
    font-weight: 600;
}

.rotate-arrow {
    transform: rotate(270deg);
}

@media only screen and (max-width: 600px) {
    .section-collapsable {
        border-bottom: 2px solid #035E7B;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .section-collapsable h2 {
        font-size: 20px;
        margin: 5px 0;
    }
    
    .section-collapsable svg {
        width: 20px;
        height: 20px;
    }
    
    .section-collapsable svg:hover {
        cursor: pointer;
    }

    .see-more {
        border: 1px #035E7B solid;
        background-color: #fefefe;
        color: #035E7B;
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
        font-weight: 600;
        margin-top: 15px;
     }
}

@media only screen and (min-width: 768px){
    
}


@font-face {
    font-family: 'MainFont';
    src: url('../font/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'MainFont';
    src: url('../font/ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'MainFont';
    src: url('../font/ChakraPetch-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'MainFont';
    src: url('../font/ChakraPetch-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: light;
}
