.tablet-landing-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-content: center;
    padding: 0 50px;
    position: relative;
}

.tablet-landing-page .tablet-intro-container{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tablet-landing-page .tablet-intro-container img{
    width: 100%;
    height: 66%;
    object-fit: cover;
    border: 2px solid #035E7B;
    display: block;
    transform: skew(-2deg);
}

.tablet-landing-page .tablet-intro-container h2{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.section-picker {
    border: #035E7B solid 2px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.section-picker .button-container {
    display: flex;
    gap: 25px;
    padding: 15px;
    border-bottom: #035E7B solid 2px;
}

.section-picker .button-container button {
    color: #035E7B;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #fefefe;
    border: 2px solid #035E7B;
    transform: skew(-3deg);
}

.section-picker .button-container button:hover {
   cursor: pointer;
}

.section-picker .button-container .active {
    color: #fefefe;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #035E7B;
    border: 1px solid #fefefe;
}

.section-container {
    height: 100%;
    overflow-y: scroll;    
}

.section-container::-webkit-scrollbar {
    width: 16px;
    background-color: #fefefe;
}


.section-container::-webkit-scrollbar-thumb{
    background-color: #035E7B;
    border-radius: 100px;
    border: solid 3px #fefefe;
}

.section-container .about{
    margin: 10px;
}

.section-container .projects{
    margin: 10px;
    height: 100%;
}
