nav{
    border-bottom: 5px solid #035E7B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    background-color: #fefefe;
}

nav h1{
    margin: 0;
}

@media only screen and (max-width: 600px) {
    nav{
        padding: 5px;
    }
    nav h1{
        font-size: 18px;
        font-weight: 700;
    }
    
    .flex-container{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 5px;
    }
    
    .flex-container svg{
        fill: #035E7B;
        display: block;
        width: 30px;
        height: 30px;
    }
    
    
    .flex-container svg:hover{
        fill: #5F98AB;
    }
}
