@media only screen and (max-width: 600px) {
    #projects-section {
        padding: 10px;
    }
    
    #projects-section #projects-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #projects-section #projects-container .project {
        display: flex;
        flex-direction: column;
        border: 1px solid #035E7B;
        margin-top: 20px;
    }

    #projects-section #projects-container .project {
        display: flex;
        flex-direction: column;
        border: 1px solid #035E7B;
        margin-top: 20px;
    }

    #projects-section #projects-container .project .project-info {
        border-bottom: 1px solid #035E7B;
        padding: 10px;
    }

    #projects-section #projects-container .project .project-info h3 {
        margin: 0;
    }

    #projects-section #projects-container .project .project-info .project-tags {
        display: flex;
        gap: 20px;
    }

    #projects-section #projects-container .project .project-links {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 15px;
    }


    #projects-section #projects-container .project .project-links svg {
       fill: #035E7B;
       display: block;
       height: 30px;
       width: 30px;
    }

    #projects-section #projects-container .project .project-links button {
       color: #035E7B;
       background-color: #fefefe;
       font-weight: 700; 
       border: 2px solid #035E7B;
       height: 30px;
       padding: 0 15px;
    }

}
